<form asp-action="ProductList" asp-controller="Products" method="get">
    <label>Enter search</label>
    <input type="text" id="UnitPrice" name="UnitPrice" />
    <input type="submit" value="submit" />
</form>






